*{
    padding:0px;
    margin:0px;

}

.profile-pic{
    width:300px;
    height:300px;
    border-radius: 50%;
}
.nav{
    /* display:flex;
  
    justify-content: space-between;
    padding: 150px 100px 0px 100px; */
}

.nav-right{
   padding-top: 20px;
}

.body{
    display: flex;
    display: block;
    text-align: center;
}
.track{
    padding-top: 20px;
}

body{
    display:flex;
 justify-content: center;
   
    background-color:rgb(80, 78, 78);
}